@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}


@{
	var selection = Umbraco.Content(Guid.Parse("ad4ee668-b0c1-403a-9244-37164b9f6b27"))
    .ChildrenOfType("pig")
    .Where(x => (x.Name == "BigBertha"))
    .Where(x => x.IsVisible());
}
<div class="container float-left">
<div id=info>
	<p> Welcome to Swine House! We offer the best seleciton of fine breed pigs on the market
	<br> This month we have a special offer on some of our popular products, Buy 3 and get 1 free!!!!
	<br> Coustomers will also recive free Shipment when buying products for more then 6000$ 
	</p>
</div>

		<div class="row">
<div class="col-sm-4 col-xs-1 col-md-3">
	@foreach (var item in selection)
	{
		    <p>Featured Product</p>
			<div  id="ProductName">@item.Name</div>
			<div  id="ProductPrice">Price: @item.Value("Price")£</div>
			<div  id="IMAGE">
			<img src ="@item.Value("imageUrl")" class ="img-fluid">	
			</div>
			<div>
				@{
					
				if( (int)item.Value("DiscountAmount") > 0)
				{
				<p>Special Offer: Buy @item.Value("DiscountAmount") pay for @((int)@item.Value("DiscountAmount")-1)
					<br>
					<a href="products">Go to Store</a>
				</p>
				}
				}
				</div>
	}
</div>
</div>
</div>
