@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.PigCollection>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}


<html>
    <head>
		<script src="/scripts/Cart.js"></script>
    </head>
@{
	var selection = Umbraco.Content(Guid.Parse("ad4ee668-b0c1-403a-9244-37164b9f6b27"))
    .ChildrenOfType("pig")
    .Where(x => x.IsVisible())
    .OrderBy(x => x.Name);
}
<ul>
	@foreach (var item in selection)
	{
		var productArr = Umbraco.Content(Guid.Parse("ad4ee668-b0c1-403a-9244-37164b9f6b27"))
    .ChildrenOfType("pig")
    .Where(x => (x.Id == item.Id))
    .Where(x => x.IsVisible()); 
		<li>
			<div id="ProductName"><a href="@item.Url">@item.Name</a></div>
			<div id="ProductPrice">Price: @item.Value("Price")</div>
			<div id="ProductDiscountAmount"></div>
			
			<button onClick=addToCart("@item.Name","@item.Value("Price")","@item.Value("Color")","@item.Value("weight")","@item.Value("DiscountAmount")")>BUY</button>
		</li>
	}
</ul>

</html>

